<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/logo-no-background.svg" alt="logo" width="120" height="120"></a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Info</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/casinos">Casinos</a>
                    </li>
                    <li>
                        <a href="/promotions">Promotions</a>
                    </li>
                    <li>
                        <a href="/testimonials">Testimonials</a>
                    </li>
                    <li>
                        <a href="/faq">FAQs</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">{{ client.address.lineOne }}<br>{{ client.address.city }}, {{ client.address.county }} {{ client.address.postCode }}</a>
                    </li>
                    <li>
                        <a href="tel:{{ client.phone }}">T: {{ client.phoneFormatted }}</a>
                    </li>
                    <li>
                        <a href="tel:{{ client.fax }}">Fax: {{ client.fax }}</a>
                    </li>
                    <li>
                        <a href="mailto:{{ client.email }}">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="" target="_blank" rel="noopener">{{ client.name }}</a>
        <span class="copyright"> Copyright 2024 - Present</span>
    </div>
</footer>